@use '../../../../shared/css/variables.scss';

.additionalButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wrapper {  
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: variables.$headerHeighMobile;
}

.burgerMobile {
  width: 60px;
  display: flex;
  justify-content: end;
}

.burgerMenu {
  display: block;
  z-index: 10;
  position: fixed;
  transition: all .5s;
  top: variables.$headerHeighMobile;
  right: 0px;
  transform: translate3d(100%, 0px, 0px);
  width: 50vw;
  height: calc(100% - variables.$headerHeighMobile);
  
  &.visible {
    transform: translateZ(0) !important;
    visibility: visible;
  }
}


@media (max-width: 700px) {
  .burgerMenu {
    width: 70vw;
  }
}

@media (max-width: 500px) {
  .burgerMenu {
    width: 100vw;
  }
}