.slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  
  height: 400px;
  width: 100%;
  background-color: #D9D9D9;
}

@media (max-width: 1180px) {
  .slide {
    height: 150px;
  }
}