.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  flex-wrap: wrap;
}

.divider {
  width: 1px;
  height: 100%;

  background-color: rgba(0, 0, 0,.5);
}

.product {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

@media (max-width: 480px) {
  .divider {
    width: 100%;
    height: 1px;
  }
}