.first {
  // transform: scale(0);
  opacity: 0;

  transition: opacity 0.5s;

  &Visible {
    // transform: scale(1);

    opacity: 1;
  }
}

.second {
  // transform: scale(0);
  opacity: 0;

  transition: opacity 0.5s;

  &Visible {
    // transform: scale(1);

    opacity: 1;
  }
}