.subHeader {
  padding-inline: 80px;
  z-index: 7;
  background-color: #fff;
  position: fixed;
  top: 110px;
  min-height: 65px;
  width: 100%;

  display: grid;
  grid-template-columns: 100px 1fr 100px;
  column-gap: 40px;

  transform: translateY(-300%);
  transition: transform .5s;
  
  &.visible {
    transform: translateY(0);
  }

  &Navigation {
    // width: 586px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;
    flex-wrap: wrap;
    row-gap: 28px;
    transition: opacity .5s ease 0s;
  }
}