.wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 17px;
  font-weight: 300;
  cursor: pointer;

  &:hover >.customCheckbox {
    background-color: #000;
  }

  &.error {
    color: #DF2000;
  }
}

.customCheckbox {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #D9D9D9;

  transition: background-color .2s;

  &Checked {
    background-color: #000;
  }
}

.input {
  display: none;
}
