.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

.firstSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.carousel {
  width: 100%;
  height: 538px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.secondSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #1A1A1A;
}

.brand {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #1A1A1A;
}

.article {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #1a1a1a80;
}

.model {
  color: #1A1A1A;
  font-size: 40px;
  font-weight: 400;
}

.price {
  font-size: 24px;
  font-weight: 300;
  width: 100%;
  text-align: left;
}

.description {
font-size: 12px;
font-weight: 300;
color: #1A1A1A;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.socials {
  display: flex;
  gap: 24px;
  align-items: center;

  // height: 51px;

  &.text {
    align-self: flex-start;
    color: #1A1A1A;
    font-size: 12px;
    font-weight: 300;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

@media (max-width: 1180px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}