.button {
  cursor: pointer;
  outline: none;
  border: 2px solid #1A1A1A;

  transition: background-color .5s, color .5s;

  &Light {
    background-color: #fff;
    color: #1A1A1A;
  }

  &Light:hover {
    background-color: #1A1A1A;
    color: #fff;
  } 

  &Dark {
    background-color: #1A1A1A;
    color: #fff;
  }

  &:hover .content img {
    transform: scale(1);
  }

  &.disabled {
    cursor: not-allowed;
  } 
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  
  font-size: 16px;
  font-weight: 400;

  
  & img {
  transition: transform .2s;

    transform: scale(0);
  }
}

.iconWrapper {
  position: absolute;
  margin-right: 160px;
}