.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.search {
  max-width: 850px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}
