@use '../../../shared/css/variables.scss';


.wrapper {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;

  padding-top: variables.$headerHeigh;
}

.content {
  margin-top: 54px;
  padding-inline: 80px;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media (max-width: 1180px) {
  .wrapper {
    padding-top: variables.$headerHeighMobile;
  }
  .content {
    padding-inline: 20px;
  }
}