$widthL: 20vw;
$widthM: 30vw;
$widthS: 40vw;

.wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;

  &L {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      gap: 10px;
      align-items: center;

      .field {
        display: flex;
        flex-direction: column;

        gap: 10px;

        .name {
          font-size: 16px;
          font-weight: 400;

          color: rgb(26, 26, 26);
        }

        .size {
          font-size: 16px;
          font-weight: 500;

          color: rgba(26, 26, 26, 50%);
        }
      }
    }

    .right {
      font-size: 16px;
      font-weight: 400;
      color: rgb(26, 26, 26);
    }
  }
}

.dividerWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px;

  align-items: center;
}

.divider {
  height: 1px;
  width: 80%;
  background-color: rgba(26, 26, 26, 30%); 
}

.image {
  // background-color: #D9D9D9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &.sizeS {
    width: 235px;
    height: 150px;
  }

  &.sizeM {
    height: 13vw;

    @media (max-width: 1180px) {
      height: 21vw;
    }
  }

  &.sizeL {
    width: 156px;
    height: 100px;
  }

  &.sizeSM {
    width: 156px;
    height: 100px;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 22.5px;
  max-height: 50px;
  overflow: hidden;
}

.brandName {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.description {
  font-weight: 400;
  font-size: 15px;
}


.wrapperM {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-right: 10px;

  width: $widthL;

  @media (max-width: 1180px) {
    width: $widthM;
  }

  @media (max-width: 700px) {
    width: $widthS;
  }
}

.static {
  width: 100%;
}