.wrapper {
  display: flex;
  flex-direction: column;

  gap: 50px;
}

.block {
  display: flex;
  flex-direction: column;

  gap: 14px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}
.text {
  font-size: 16px;
  font-weight: 400;

  white-space: pre-wrap;
}