.wrapper {
  padding: 40px 82px 20px;
  
  background-color: #1A1A1A;

  display: flex;
  flex-direction: column;
  gap: 52px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;

  &Block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.brands {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  &Column {
    display: flex;
    flex-direction: column;

    gap: 15px;
  }
}

.brandCell {
  cursor: pointer;
  color: #fff;
  font-size: 15px;

  overflow: hidden;
  text-overflow: ellipsis;
}


.header {
  color: #fff;
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 30px;
}

.socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
}

.rights {
  color: rgba(255, 255, 255, .5);
  font-size: 14px;
}

.madeBy {
  font-size: 14px;
  color: #fff;
  &Link {
    color: #F7D939;
  }
}

@media (max-width: 1180px) {
  .footerTop {
    align-items: center;
    row-gap: 50px;
  }
  .footerBottom {
    justify-content: center;
  }

  .brandsVisible {
    display: none;
  }

  .wrapper {
   padding-inline: 20px;
  }
}


@media (max-width: 500px) {
  .footerTop {
    flex-direction: column;
    align-items: flex-start;
  }
  .socials {
    align-self: flex-start;
  }
}