.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1180px) {
  .wrapper {
    gap: 30px;
  }
}